@using System.Threading.Tasks
@using System.IO
@using System.Text.RegularExpressions

<Style></Style>
<!-- Gify reklamowe -->
<div class="text-right justify-content-center align-items-center">
    @foreach (var ad in ads)
    {
        <img class="mt-2 mb-2 custom-shadow border-3 border-dark"src="Media/@ad" alt="Ad" style="width: 300px;" />
    }
</div>

@code {
    private List<string> ads = new List<string> { "ad1.gif", "ad2.gif", "ad3.gif", "ad4.gif", "ad5.gif" };
}