<Style></Style>

<!-- Gify reklamowe -->
<div class="text-right">
	<div class="advertisement mb-4">
		<a href="https://fameable.com/wp-content/uploads/2015/08/trollface-trademarked-meme-1-1-1024x576.jpg" target="_blank">
			<img class="custom-shadow" src="https://picsum.photos/250/250" alt="Reklama 1" />
		</a>
	</div>
	<div class="advertisement mb-4">
		<a href="https://fameable.com/wp-content/uploads/2015/08/trollface-trademarked-meme-1-1-1024x576.jpg" target="_blank">
			<img class="custom-shadow" src="https://picsum.photos/250/310" alt="Reklama 2" />
		</a>
	</div>
	<div class="advertisement mb-4">
		<a href="https://fameable.com/wp-content/uploads/2015/08/trollface-trademarked-meme-1-1-1024x576.jpg" target="_blank">
			<img class="custom-shadow" src="https://picsum.photos/250/220" alt="Reklama 3" />
		</a>
	</div>
</div>
