<Style></Style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container-fluid">
    <div class="row footer-container">
        <div class="col text-center">
            <hr>
            <p class="footer-content">
                <a href="https://preview.redd.it/q1851f2ajlg91.jpg?auto=webp&s=9ee885742a3965fbd6e8dd720ea6e97f5ac201e5" target="_blank">O serwisie</a> &nbsp; | &nbsp;
                <a href="https://preview.redd.it/q1851f2ajlg91.jpg?auto=webp&s=9ee885742a3965fbd6e8dd720ea6e97f5ac201e5" target="_blank">Redakcja</a> &nbsp; | &nbsp;
                <a href="https://preview.redd.it/q1851f2ajlg91.jpg?auto=webp&s=9ee885742a3965fbd6e8dd720ea6e97f5ac201e5" target="_blank">Reklama</a> &nbsp; | &nbsp;
                <a href="https://preview.redd.it/q1851f2ajlg91.jpg?auto=webp&s=9ee885742a3965fbd6e8dd720ea6e97f5ac201e5" target="_blank">Regulamin</a> &nbsp; | &nbsp;
                <a href="https://preview.redd.it/q1851f2ajlg91.jpg?auto=webp&s=9ee885742a3965fbd6e8dd720ea6e97f5ac201e5" target="_blank">Polityka prywatności</a> &nbsp; | &nbsp;
                <a href="https://preview.redd.it/q1851f2ajlg91.jpg?auto=webp&s=9ee885742a3965fbd6e8dd720ea6e97f5ac201e5" target="_blank">Kontakt</a>
            </p>
            <div class="footer-icons justify-content-center align-content-center">
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>