<Style></Style>

<!-- Pasek z filtrowaniem wyników -->
<div class="navbar navbar-expand-md navbar-light bg-light flex-md-column custom-shadow">
    <ul class="navbar-nav flex-md-column">
        <!-- Marka -->
        <div class="form-group">
            <label for="brand">Wybierz markę:</label>
            <select class="form-control" id="brand" name="brand">
                <option value="">- - -</option>
                <option value="Samsung">Samsung</option>
                <option value="Apple">Apple</option>
                <option value="Xiaomi">Xiaomi</option>
                <option value="Huawei">Huawei</option>
                <option value="OPPO">OPPO</option>
                <option value="Realme">Realme</option>
            </select>
        </div>

        <!-- Wielkość ekranu -->
        <li class="nav-item mt-2 mb-2">
            <h5>Wielkość ekranu</h5>
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="screenSize1" value="5">
                    <label class="form-check-label" for="screenSize1">
                        5 cali
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="screenSize1" value="5.5">
                    <label class="form-check-label" for="screenSize1">
                        5.5 cala
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="screenSize3" value="6.2">
                    <label class="form-check-label" for="screenSize3">
                        6.2 cala
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="screenSize4" value="6.7">
                    <label class="form-check-label" for="screenSize4">
                        6.7 cala
                    </label>
                </div>
                <!-- Dodaj więcej pól CheckBox dla innych opcji -->
            </div>
        </li>
        <!-- Procesor -->
        <li class="nav-item mt-2 mb-2">
            <h5>Procesor</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Intel Core i5" id="processor1">
                <label class="form-check-label" for="processor1">
                    Intel Core i5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="AMD Ryzen 7" id="processor2">
                <label class="form-check-label" for="processor2">
                    AMD Ryzen 7
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Qualcomm Snapdragon 888" id="processor3">
                <label class="form-check-label" for="processor3">
                    Qualcomm Snapdragon 888
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Apple A14 Bionic" id="processor4">
                <label class="form-check-label" for="processor4">
                    Apple A14 Bionic
                </label>
            </div>
            <!-- Dodaj więcej opcji procesorów -->
        </li>
        <!-- Pamięć masowa -->
        <li class="nav-item mt-2 mb-2">
            <h5>Pamięć masowa</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="32GB" id="storage1">
                <label class="form-check-label" for="storage1">
                    32GB
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="64GB" id="storage2">
                <label class="form-check-label" for="storage2">
                    64GB
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="128GB" id="storage3">
                <label class="form-check-label" for="storage3">
                    128GB
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="256GB" id="storage4">
                <label class="form-check-label" for="storage4">
                    256GB
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="512GB" id="storage5">
                <label class="form-check-label" for="storage5">
                    512GB
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1TB" id="storage6">
                <label class="form-check-label" for="storage6">
                    1TB
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2TB" id="storage7">
                <label class="form-check-label" for="storage7">
                    2TB
                </label>
            </div>
            <!-- Dodaj więcej opcji pamięci masowej -->
        </li>
        <!-- System-->
        <li class="nav-item mt-2 mb-2">
            <h5>System operacyjny</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Android" id="os1">
                <label class="form-check-label" for="os1">
                    Android
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="iOS" id="os2">
                <label class="form-check-label" for="os2">
                    iOS
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Inne" id="os3">
                <label class="form-check-label" for="os3">
                    Inne
                </label>
            </div>
            <!-- Dodaj więcej opcji systemów operacyjnych -->
        </li>
        <!-- Zakres Cenowy -->
        <li class="nav-item mt-2 mb-2">
            <h5>Zakres cenowy</h5>
            <div class="input-group">
                <input type="number" class="form-control" id="minPrice" placeholder="Cena min">
                <div class="input-group-text">do</div>
                <input type="number" class="form-control" id="maxPrice" placeholder="Cena max">
            </div>
        </li>

        <!-- Dodaj więcej filtrów -->
    </ul>

    <button class="btn btn-primary btn-lg text-xl mt-4 mb-4" style="width: 80%;">Szukaj</button>
</div>