@inherits LayoutComponentBase
@using GadgetBlitzPZ.Pages.Templates

<style>
    .content {
        background: linear-gradient(0deg, white, lightgray);
    }
</style>

<div class="page">
    
      <Layout>
    <LayoutHeader>
        <NavMenu/>
    </LayoutHeader>
        <LayoutContent Class="content">
        @Body
    </LayoutContent>
    <LayoutFooter>
        <FooterBar></FooterBar>
    </LayoutFooter>
</Layout>
</div>
