@inherits LayoutComponentBase

<div class="page">
    
      <Layout>
    <LayoutHeader>
        <NavMenu/>
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter>
        Footer
    </LayoutFooter>
</Layout>
</div>
